{# templates/components/datatable/header_filters.html.twig #}
<div class="datatable-header mb-3">
    <div class="row align-items-center">
        <div class="col-md-6">
            {% include '@components/datatable/search_input.html.twig' %}
        </div>
        <div class="col-md-6">
            {% include '@components/datatable/relation_filters.html.twig' %}
        </div>
    </div>
</div>