{# templates/components/datatable/pagination.html.twig #}
{% if this.items and this.items.pageCount > 1 %}
    <nav aria-label="Navigation des pages du tableau" class="d-flex justify-content-between align-items-center">
        <div class="pagination-info text-muted">
            {% set start = (this.items.getCurrentPageNumber() - 1) * this.itemsPerPage + 1 %}
            {% set end = min(this.items.getCurrentPageNumber() * this.itemsPerPage, this.items.getTotalItemCount()) %}
            Affichage de {{ start }} à {{ end }} sur {{ this.items.getTotalItemCount() }} éléments
        </div>
        
        <ul class="pagination mb-0">
            {% include '@components/datatable/pagination_controls.html.twig' with {
                currentPage: this.items.getCurrentPageNumber(),
                totalPages: this.items.pageCount,
                range: 2
            } %}
        </ul>
    </nav>
{% endif %}